pandas==2.3.0
scipy==1.15.3
plotly==5.18.0
altair==5.5.0
seaborn==0.13.2
streamlit==1.45.1
scikit-learn==1.4.2
statsmodels==0.14.2
tabulate==0.9.0
python-docx==1.1.2
ipython==9.3.0
langchain==0.3.25
langchain_openai==0.3.21
langchain_experimental==0.3.4
langchain_anthropic==0.3.15
langchain_teddynote==0.3.45
python-pptx==1.0.2
python-dotenv==1.0.0




